<% include ../partials/boilerplate %>

<% item.forEach((items) => { %>
<div class="items">
  <a href="/items/<%=item.id%>"><h1><%=item.title%><%=item.img%><%=item.type%><%=item.power%><%=item.price%><%=item.description%></h1></a>
  <button type="submit" onclick="/cart">Add to Cart</button>
  <!--where to add 'add to cart' button?-->
</div>
<% }) %>

<% include ../partials/end %>
