<!--all items just on index homepage-->
<% include ../partials/boilerplate %>
<% include ../partials/header %>
<a href="/new"> Add new item</a>

<% item.forEach((item) => { %> <!--from table name-->
<div class="items">
  <h1><%=item.title%></h1>
  <img src=<%=item.img%>>
  <h1><%=item.type%></h1>
  <h1><%=item.power%></h1>
  <h1><%=item.price%></h1>
  <h1><%=item.description%></h1>
  <h1><a href="/item/<%= item.id%>">see details</a></h1>

  <button type="submit" onclick="/cart">Add to Cart</button>
  <!--where to add 'add to cart' button?-->
</div>
<% }) %>

<% include ../partials/end %>

