<% include ../partials/boilerplate %>
<% include ../partials/header %>

<div class="item-container">
  <h1><%=item.title%></h1>
  <img src=<%=item.img%>>
  <p><%=item.type%></p>
  <p><%=item.power%></p>
  <p><%=item.price%></p>
  <p><%=item.description%></p>
   <form action="/item/<%=item.id%>/edit" method="GET">
  <input type="submit" value="Edit">
  </form>
  <br>
  <form action="/item/<%=item.id%>?_method=DELETE" class='delete' method="POST">
  <input type="submit" value="Delete">
  </form>
</div>

<% include ../partials/end %>

