<% include ../../partials/boilerplate %>

<div class="items">
  <h1><%=item.title%></h1>
  <img src="<%=item.img%>" width="200" alt="<%=item.title%>" />
  <p><%=item.type%></p>
  <p><%=item.power%></p>
  <p>$<%=item.price%></p>
  <p><%=item.description%></p>
</div>

<% include ../../partials/end %>
